/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/* Original:
html,
body {
  --custom-font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --custom-bg-color: #101010;
  --custom-panel-color: #222;
  --custom-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.8);
  --custom-color: #fff;
  --custom-color-brand: #24b47e;
  --custom-color-secondary: #666;
  --custom-border: 1px solid #333;
  --custom-border-radius: 5px;
  --custom-spacing: 5px;

  padding: 0;
  margin: 0;
  font-family: var(--custom-font-family);
  background-color: var(--custom-bg-color);
}

* {
  color: var(--custom-color);
  font-family: var(--custom-font-family);
  box-sizing: border-box;
} */

html,
body {
  --custom-font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  --custom-bg-color: #FFFFFF;
  --custom-container-color: #F6F8FA;
  --custom-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.8);

  --custom-color-brand: #635BFF;
  --custom-color-info: #0570DE;
  --custom-color-sucess: #228403;
  --custom-color-attention: #C84801;
  --custom-color-critical: #DF1B41;

  --custom-color-primary: #30313D;
  --custom-color-secondary: #6A7383;
  --custom-color-tertairy: #FFFFFF;
  --custom-color-disabled: #A3ACBA;
  --custom-color-box-shadow: rgba(0, 0, 0, 0.12);
  
  --custom-border: 1px solid #EBEEF1;
  --custom-border-radius: 6px;
  --custom-spacing: 8px;

  padding: 0;
  margin: 0;
  font-family: var(--custom-font-family);
  background-color: var(--custom-bg-color);
}

* {
  color: var(--custom-color-primary);
  font-family: var(--custom-font-family);
  box-sizing: border-box;
}

html,
body,
#__next {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

/* Grid */

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--custom-container-color);
  border-radius: 8px;
}
.row {
  position: relative;
  width: 100%;
}
.row [class^='col'] {
  float: left;
  margin: 0.5rem 2%;
  min-height: 0.125rem;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 96%;
}
.col-1-sm {
  width: 4.33%;
}
.col-2-sm {
  width: 12.66%;
}
.col-3-sm {
  width: 21%;
}
.col-4-sm {
  width: 29.33%;
}
.col-5-sm {
  width: 37.66%;
}
.col-6-sm {
  width: 46%;
}
.col-7-sm {
  width: 54.33%;
}
.col-8-sm {
  width: 62.66%;
}
.col-9-sm {
  width: 71%;
}
.col-10-sm {
  width: 79.33%;
}
.col-11-sm {
  width: 87.66%;
}
.col-12-sm {
  width: 96%;
}
.row::after {
  content: '';
  display: table;
  clear: both;
}
.hidden-sm {
  display: none;
}

@media only screen and (min-width: 33.75em) {
  /* 540px */
  .container {
    width: 80%;
  }
}

@media only screen and (min-width: 45em) {
  /* 720px */
  .col-1 {
    width: 4.33%;
  }
  .col-2 {
    width: 12.66%;
  }
  .col-3 {
    width: 21%;
  }
  .col-4 {
    width: 29.33%;
  }
  .col-5 {
    width: 37.66%;
  }
  .col-6 {
    width: 46%;
  }
  .col-7 {
    width: 54.33%;
  }
  .col-8 {
    width: 62.66%;
  }
  .col-9 {
    width: 71%;
  }
  .col-10 {
    width: 79.33%;
  }
  .col-11 {
    width: 87.66%;
  }
  .col-12 {
    width: 96%;
  }
  .hidden-sm {
    display: block;
  }
}

@media only screen and (min-width: 60em) {
  /* 960px */
  .container {
    width: 75%;
    max-width: 60rem;
  }
}

/* Forms */

label {
  display: block;
  margin: 5px 0;
  margin-left: 4px;
  color: var(--custom-color-primary);
  font-size: 0.8rem;
  text-transform: capitalize;
}

input {
  width: 100%;
  border-radius: var(--custom-border-radius);
  border: var(--custom-border);
  padding: 8px;
  font-size: 0.9rem;
  background-color: var(--custom-bg-color);
  color: var(--custom-color);
}

select {
  width: 100%;
  border-radius: var(--custom-border-radius);
  border: var(--custom-border);
  padding: 8px;
  font-size: 0.9rem;
  background-color: var(--custom-bg-color);
  color: var(--custom-color);
  height: 40px;
  margin-top: 0.6em;
}

select:focus {
  outline: none !important;
  border: 1px solid var(--custom-color-brand);
}

select .error {
  outline: none !important;
  border: 1px solid var(--custom-color-critical);
}

select[disabled] {
  color: var(--custom-color-tertairy) !important;
  background-color: var(--custom-color-secondary); 
  cursor:not-allowed;
}

input:focus {
  outline: none !important;
  border: 1px solid var(--custom-color-brand);
}

input .error {
  outline: none !important;
  border: 1px solid var(--custom-color-critical);
}

input[disabled] {
  color: var(--custom-color-tertairy) !important;
  background-color: var(--custom-color-secondary); 
  cursor:not-allowed;
}

button[disabled] {
  color: var(--custom-color-tertairy) !important;
  background-color: var(--custom-color-disabled) !important; 
  cursor:not-allowed;
  border-color: var(--custom-color-disabled) !important;
}

input[disabled]::placeholder {
  color: var(--custom-color-tertairy);
}

/* Utils */

.block {
  display: block;
  width: 100%;
}
.inline-block {
  display: inline-block;
  width: 100%;
}
.flex {
  display: flex;
}
.flex.column {
  flex-direction: column;
}
.flex.row {
  flex-direction: row;
}
.flex.flex-1 {
  flex: 1 1 0;
}
.flex-end {
  justify-content: flex-end;
}
.flex-center {
  justify-content: center;
}
.items-center {
  align-items: center;
}
.text-sm {
  font-size: 0.8rem;
  font-weight: 300;
}
.text-right {
  text-align: right;
}
.font-light {
  font-weight: 300;
}
.opacity-half {
  opacity: 50%;
}

button {
  border: var(--custom-border);
  display: inline-block;
  text-align: center;
  border-radius: var(--custom-border-radius);
  padding: 0.5rem 1rem;
  cursor: pointer;
  text-align: center;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 0.8rem;
  text-decoration: none;
  box-shadow: 0px 1px 1px var(--custom-color-box-shadow), 0px 2px 5px var(--custom-color-box-shadow);
}



button.primary,
.button.primary {
  color: var(--custom-color-tertairy);
  background-color: var(--custom-color-brand);
  border: 1px solid var(--custom-color-brand);
  text-decoration: none;
}

button.secondary,
.button.secondary {
  color: var(--custom-color-se);
  background-color: var(--custom-color-tertairy);
  border: 1px solid var(--custom-color-tertairy);
  text-decoration: none;
}

.button:hover {
  box-shadow: 0px 2px 2px var(--custom-color-box-shadow), 0px 2px 8px var(--custom-color-box-shadow);
}

.button:focus {
  filter: brightness(85%);
}

/* Widgets */

.card {
  background-color: var(--custom-container-color);
  width: 100%;
  display: block;
  border-radius: var(--custom-border-radius);
  /* top | right | bottom | left */
  padding: 24px 16px 16px 16px;
  margin: 1em 0em 1em 0em;
}

.avatar {
  border-radius: var(--custom-border-radius);
  overflow: hidden;
  max-width: 100%;
}
.avatar.image {
  object-fit: cover;
}
.avatar.no-image {
  background-color: #333;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 5px;
}

.wrapper {
  min-height: 100%;
  position: relative;
  background-color: #228403;
}

.footer {
  /* position: absolute;
  max-width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  clear: both;
  display: flex;
  flex-flow: row;
  border-top: var(--custom-border);
  background-color: var(--custom-bg-color); */

  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1rem;            /* Footer height */

  max-width: 100%;
  left: 0;
  right: 0;
  clear: both;
  display: flex;
  flex-flow: row;
  border-top: var(--custom-border);
  background-color: var(--custom-bg-color);
}

.content-wrap {
  padding-bottom: 1rem;    /* Footer height */
}

.footer div {
  padding: var(--custom-spacing);
  display: flex;
  align-items:flex-start;
  width: 100%;
}
.footer div > img {
  height: 120px;
  margin-left: 10px;
}

.footer .imagePosition
{
  justify-content: flex-end;
}

.footer > div:first-child {
  display: flex;
}
.footer > div:nth-child(2) {
  justify-content: left;
}

.footerSpacing {
  margin-right: 0px;
}

.lowerFooterSpacing{
  margin-top: 0px;
}

/* OG: */
@media only screen and (min-width: 60em) {
  /* 960px */
  .footer > div:first-child {
    display: flex !important;
  }
  .footer > div:nth-child(2) {
    justify-content: center !important;
  }
}

/* @media only screen and (max-width: 960px) { */
  /* 960px */
  /* .footer > div:first-child {
    display: flex !important;
  }
  .footer > div:nth-child(2) {
    justify-content: center !important;
  }
} */

@media screen and (max-width: 768px) {
  .footer {
    position: relative;
  }
  .footer div {
    display: flex;
    flex-flow: column !important;
    float: center !important;
    text-align: left;
    align-items: center;
    /* justify-content: center; */
  }
  .footer div > img {
    height: calc(fit-content - (.2 * fit-content));
  }
  .footerSpacing {
    margin-bottom: 0px;
  }
  .lowerFooterSpacing{
    margin-top: -2.5rem;
  }
  input {
    height: 48px;
    font-size: 1em;
  }
  button {
    height: 48px;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mainHeader {
  width: 100%;
  font-size: 1.3rem;
  margin-bottom: 20px;
}

.avatarPlaceholder {
  border: var(--custom-border);
  border-radius: var(--custom-border-radius);
  width: 35px;
  height: 35px;
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-widget {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-widget > .button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #444444;
  text-transform: none !important;
  transition: all 0.2s ease;
}

/* .form-widget .button:hover {
  background-color: #2a2a2a;
} */

.form-widget .button > .loader {
  width: 17px;
  animation: spin 1s linear infinite;
  filter: invert(1);
}

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

hr {
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
  border: 0;
  height: .5px;
  background: var(--custom-color-secondary);
}

.Link {
  text-decoration: none;
}

.textCenter {
  text-align: center;
}

.footerUL {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footerIcon :hover {
  color: var(--custom-color-brand);
}

p {
  line-height: 1.5rem;
}

@media screen and (max-width: 768px) {
  .footerUL {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: space-between;
  }
  .footerIcon{
    font-size: 2rem;
    margin-right: 2.5rem;
  }
}



.nav {
  height: 50px;
  width: 100%;
  background-color: var(--custom-container-color);
  color: var(--custom-color-primary);
  position: relative;
  margin-bottom: 1em;
  z-index: 100;
  padding-left: 4em;
  padding-right: 4em;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 1.5em;
  font-weight: 500;
  color: var(--custom-color-primary);
  padding: 10px 0px 0px 0px;
  /* padding-top: 10px; */
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 1em;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 12px;
  padding-top: 15px;
  text-decoration: none;
  color: var(--custom-color-primary);
  height: 50px;
  border-radius: var(--custom-border-radius);
}

.nav > .nav-links > a:hover {
  background-color: var(--custom-color-brand);
  color: var(--custom-color-tertairy);
}

.nav > #nav-check {
  display: none;
}

.nav-icons svg{
  vertical-align: text-top !important;
}

@media (max-width:800px) {
.nav{
  padding-left: 2em;
}
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 12px;
    padding-top: 15px;
    margin-right: 0em;
    margin-top: 0px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: var(--custom-color-brand);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2.5px solid var(--custom-color-primary);
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: var(--custom-container-color);
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
    margin-top: 8px;
    border-radius: 0;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

.dashboard-ig-flex-cont {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.dashboard-ig-flex-item1 {
  flex: 20%;
  background-color: var(--custom-container-color);
  border-radius: var(--custom-border-radius);
  /* top | right | bottom | left */
  padding: 24px 16px 16px 16px;
  margin: 1em 1em 1em 1em;
}
.dashboard-ig-flex-item2 {
  flex: 20%;
  background-color: var(--custom-container-color);
  border-radius: var(--custom-border-radius);
  /* top | right | bottom | left */
  padding: 24px 16px 16px 16px;
  margin: 1em 1em 1em 1em;
}
.dashboard-ig-flex-item3 {
  flex: 20%;
  background-color: var(--custom-container-color);
  border-radius: var(--custom-border-radius);
  /* top | right | bottom | left */
  padding: 24px 16px 16px 16px;
  margin: 1em 1em 1em 1em;
}
.dashboard-ig-flex-item4 {
  flex: 20%;
  background-color: var(--custom-container-color);
  border-radius: var(--custom-border-radius);
  /* top | right | bottom | left */
  padding: 24px 16px 16px 16px;
  margin: 1em 1em 1em 1em;
}
.dashboard-ig-flex-item5 {
  flex: 20%;
  background-color: var(--custom-container-color);
  border-radius: var(--custom-border-radius);
  /* top | right | bottom | left */
  padding: 24px 16px 16px 16px;
  margin: 1em 1em 1em 1em;
}

.dashboard-flex-main-cont {
  display: flex;
  flex-direction: row-reverse;
  text-align: center;
}

.dashboard-flex-main-cont-item1 {
flex: 30%;
background-color: var(--custom-color-brand);
border-radius: var(--custom-border-radius);
/* top | right | bottom | left */
/* padding: 24px 16px 16px 16px; */
margin: 1em 1em 1em 1em;
color: var(--custom-color-tertairy) !important;
box-shadow: 0px 4px 5px var(--custom-color-box-shadow), 0px 4px 5px var(--custom-color-box-shadow);
cursor: pointer;
max-height: 200px;
}

.dashboard-flex-main-cont-item1:hover {
  box-shadow: 0px 2px 5px var(--custom-color-box-shadow), 0px 2px 5px var(--custom-color-box-shadow);
  filter: brightness(95%);
  }

.dashboard-flex-main-cont-item1:active {
  filter: brightness(85%);
    }
  

.dashboard-flex-main-cont-item2 {
flex: 70%;
background-color: var(--custom-container-color);
border-radius: var(--custom-border-radius);
/* top | right | bottom | left */
padding: 24px 16px 16px 16px;
margin: 1em 1em 1em 1em;
}

.create-new-link-text{
  color: var(--custom-color-tertairy);
  letter-spacing: 3px;
  font-weight: 600;
}

@media (max-width: 600px) {
  .dashboard-ig-flex-cont {
    flex-direction: column;
  }
  .dashboard-flex-main-cont {
    flex-direction: column;
  }
  .button-within-summary {
    width: auto;
    float: right;
    margin-top: -50px;
    margin-bottom: -50px;
  }
  select {
    height: 48px;
  }
}

.loader {
  border: 8px solid var(--custom-color-tertairy);
  border-radius: 50%;
  border-top: 8px solid var(--custom-color-brand);
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

.loader-bg {
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: #a4a3aa86;
  position: fixed;
  top: 0;
  left: 0;
}

.full-screen-center {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

details summary{
  border: var(--custom-border);
  /* display: inline-block; */
  text-align: left;
  border-radius: var(--custom-border-radius);
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1.1rem;
  text-transform: capitalize;
  font-weight: 600;
  margin-top: 0.8rem;
  text-decoration: none;
  box-shadow: 0px 1px 1px var(--custom-color-box-shadow), 0px 2px 5px var(--custom-color-box-shadow);
  height: 48px;
  width: 100%;
  color: var(--custom-color-tertairy);
  background-color: var(--custom-color-brand);
  border: 1px solid var(--custom-color-brand);
  text-decoration: none;
  line-height: 32px;
  vertical-align: middle;
  
}

details summary:hover
 {
  filter: brightness(115%);
 }

 details div img {
  /* width: 100%; */
}


details div {
  background-color: #635bff19;
  border-radius: var(--custom-border-radius);
  padding: .5rem 1rem;
  margin-top: 1em;
  overflow-wrap: break-word;
}

details[open] summary ~ * {
  animation: fadeIn .3s ease-in-out;
}

@keyframes fadeIn {
  0%    {opacity: 0; margin-top: -10px}
  100%  {opacity: 1; margin-top: 1em}
}

.label-interactiveSwitch span {
  font-size: 1.2em;
  font-weight: 500;
  line-height: 32px;
  vertical-align: middle;
  color: var(--custom-color-primary)
}

.interactiveSwitch {
  float: right;
  vertical-align: middle;
}

.button-within-summary {
  width: 20%;
  float: right;
  margin-top: -50px;
  margin-bottom: -50px;
}

.button-within-summary:hover {
  filter: brightness(95%);
}

.last-updated-date {
  width: 60%;
  float: right;
  text-align: right;
}

@media (max-width: 600px) {
  .button-within-summary {
    width: auto !important;
    float: right;
    /* margin-top: -50px; */
    margin-bottom: 2em !important;
  }
  .last-updated-date {
    width: 80%;
    float: right;
    text-align: right;
  }
}


.createnew-flex-select-format-container {
  display: flex;
  flex-direction: row;
  text-align: center;
  gap: 1em;
  overflow-y: auto;
}

.createnew-flex-select-format-container img {
  height: 40vh;
}

.createnew-flex-select-format-container-item1 {
flex: 30%;
background-color: var(--custom-container-color);
border-radius: var(--custom-border-radius);
/* top | right | bottom | left */
/* padding: 24px 16px 16px 16px; */
margin: 1em 0em 1em 0em;
color: var(--custom-color-tertairy) !important;
/* box-shadow: 0px 4px 5px var(--custom-color-box-shadow), 0px 4px 5px var(--custom-color-box-shadow); */
cursor: pointer;
/* width: 20vh !important; */
}

.createnew-flex-select-format-container-item1:hover{
  /* box-shadow: 0px 2px 5px var(--custom-color-box-shadow), 0px 2px 5px var(--custom-color-box-shadow); */
  filter: brightness(85%);
  background-color: #635bff70;
  }

.createnew-flex-select-format-container-item1:active {
  background-color: var(--custom-color-brand);
  }
  
.richEditor{
  margin: 1em 0em 1em 0em;
  padding: 8px;
  font-size:0.9rem;
  background-color: var(--custom-bg-color);
  color: var(--custom-color);
  border-radius: var(--custom-border-radius);
}

.richEditor:focus {
  outline: none !important;
  border: 1px solid var(--custom-color-brand);
}

.richEditor2{
  margin: 1em 0em 1em 0em;
  padding: 8px;
  font-size:0.9rem;
  background-color: var(--custom-bg-color);
  color: var(--custom-color) !important;
  border-radius: var(--custom-border-radius) !important;
}

.richEditor2 .ql-toolbar {
  background-color: var(--custom-bg-color);
  border-radius: 0px;
}

.richEditor2 .ql-container {
  background-color: var(--custom-bg-color);
  border-radius: 0px;
}

.richEditor2 .ql-editor {
  background-color: var(--custom-bg-color);
  border-radius: 0px;
  padding: 0em;
}

.richEditor2:focus {
  outline: none !important;
  border: 1px solid var(--custom-color-brand);
}

.setting-pagination-container {
  color: var(--custom-color-primary);
}

.setting-pagination li {
  font-size: 1em;
  font-weight: 500;
  color: var(--custom-color-primary);
  list-style: none;
  display: inline;
  margin-left: 8px;
}

.renderList {
  margin-bottom: 1em;
  text-align: left;
  font-size: 0.8em;
}

.renderList-top {
  margin-bottom: 1.5em;
  text-align: left;
  font-size: 0.7em;
  font-weight: 600;
}

.renderList span {
  vertical-align: middle;
  line-height: 1em;
}

.renderList-button {
  height: 2em;
  width: 100%;
  margin: 0px;
  padding: 0px;
  box-shadow: none;
}

.renderList-button img {
  height: 60%;
  vertical-align: middle;
}

.renderList-button:hover {
  background-color: var(--custom-color-critical);
  border-color: var(--custom-color-critical);
}

.renderList-url:hover {
  background-color: var(--custom-color-brand);
  border-color: var(--custom-color-brand);
}


@media (max-width: 600px) {
  .createnew-flex-select-format-container {
    flex-direction: column;
  }
  .createnew-flex-select-format-container img {
    height: 70vh;
  }
}

.purge-older button[disabled]:hover{
  color: var(--custom-color-tertairy) !important;
  background-color: var(--custom-color-disabled) !important; 
  cursor:not-allowed;
  border-color: var(--custom-color-disabled) !important;
  box-shadow: none !important;
}

.purge-older button{
  box-shadow: none;
}

.purge-older button:hover{
  background-color: var(--custom-color-critical) !important;
  border-color: var(--custom-color-critical) !important;
}